@import url(https://db.onlinewebfonts.com/c/04d799f9fc4bd0a0973b3331ff889f32?family=Schnyder+Cond+M+Light);
@import url(https://db.onlinewebfonts.com/c/2d98f490df6dc039774b101701ce3aba?family=CircularStd-Book);

@font-face {
    font-family: "Schnyder Cond M Light";
    src: url("https://db.onlinewebfonts.com/t/04d799f9fc4bd0a0973b3331ff889f32.eot");
    src: url("https://db.onlinewebfonts.com/t/04d799f9fc4bd0a0973b3331ff889f32.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/04d799f9fc4bd0a0973b3331ff889f32.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/04d799f9fc4bd0a0973b3331ff889f32.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/04d799f9fc4bd0a0973b3331ff889f32.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/04d799f9fc4bd0a0973b3331ff889f32.svg#Schnyder Cond M Light")format("svg");
}

@font-face {
    font-family: "CircularStd-Book";
    src: url("https://db.onlinewebfonts.com/t/2d98f490df6dc039774b101701ce3aba.eot");
    src: url("https://db.onlinewebfonts.com/t/2d98f490df6dc039774b101701ce3aba.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/2d98f490df6dc039774b101701ce3aba.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/2d98f490df6dc039774b101701ce3aba.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/2d98f490df6dc039774b101701ce3aba.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/2d98f490df6dc039774b101701ce3aba.svg#CircularStd-Book")format("svg");
}

body
{
    font-family: "CircularStd-Book";
    background-color: #F6F1EB;
}

h2
{
    font-family: "Schnyder Cond M Light";
    font-size: 40px;
    text-align: center;
}

.logofont
{
    font-family: "Schnyder Cond M Light";
}

.headerimg
{
    width: 100%;
    background-image: url("https://wallpapers.com/images/featured/beige-aesthetic-desktop-40s6oorv60lwmj0s.jpg");
    background-size: cover;
    background-position: center;
}

.headerimg > h2
{
    font-family: "Schnyder Cond M Light";
    font-size: 100px;
    color: #FFFFFF;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    padding: 0.5em 0.5em;
}

.headdiv
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logodiv
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navdiv
{
    display: flex;
    justify-content: center;
}

.loginregister
{
    text-decoration: none;
    color: #000000;
}

.lrdiv
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5px;
}

* {
    margin: 0px auto;
    padding: 0px;
    text-align: center;
}

.cotn_principal {
    background: #C1BFA9;
    position: absolute;
    width: 100%;
    display: flex;
    height: 100%;
}

.cont_centrar {
    display: flex;
    align-self: center;
}

.cont_login {
    position: relative;
    width: 640px;
}

.cont_back_info {
    position: relative;
    width: 640px;
    height: 280px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
}

.cont_forms {
    position: absolute;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 320px;
    height: 280px;
    background-color: #eee;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_forms_active_login {
    box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
    height: 670px;
    top: -195px;
    left: 0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_forms_active_register {
    box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.5);
    height: 670px;
    top: -195px;
    left: 320px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_img_back_grey {
    position: absolute;
    width: 950px;
    top: -80px;
    left: -116px;
}

.cont_img_back_grey > img {
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.2;
    animation-name: animar_fondo;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.cont_img_back_ {
    position: absolute;
    width: 950px;
    top: -80px;
    left: -116px;
}

.cont_img_back_ > img {
    width: 120%;
    opacity: 0.3;
    animation-name: animar_fondo;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.cont_forms_active_login > .cont_img_back_ {
    top: -20px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_forms_active_register > .cont_img_back_ {
    top: -20px;
    left: -435px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_info_log_register {
    position: absolute;
    width: 640px;
    height: 280px;
    top: 0px;
    z-index: 1;
}

.col_md_login {
    position: relative;
    float: left;
    width: 50%;
}

.col_md_login > h2 {
    font-weight: 400;
    margin-top: 70px;
    color: #757575;
}

.col_md_login > p {
    font-weight: 400;
    margin-top: 15px;
    width: 80%;
    color: #37474f;
}

.btn_login {
    background-color: #C1BFA9;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 40px;
    box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}

.col_md_register {
    position: relative;
    float: left;
    width: 50%;
}

.cont_ba_opcitiy > h2 {
    font-weight: 400;
    color: #fff;
}

.cont_ba_opcitiy > p {
    font-weight: 400;
    margin-top: 15px;
    color: #fff;
}

.cont_ba_opcitiy {
    position: relative;
    background-color: rgba(120, 144, 156, 0.55);
    width: 80%;
    border-radius: 3px;
    margin-top: 75px;
    padding: 15px 0px;
}

.btn_register {
    background-color: #C1BFA9;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 40px;
    box-shadow: 1px 5px 20px -5px rgba(0, 0, 0, 0.4);
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
}
.cont_forms_active_register {
    z-index: 2;
}

@keyframes animar_fondo {
    from {
        transform: scale(1) translate(0px);
    }
    to {
        transform: scale(1.5) translate(50px);
    }
}

@-webkit-keyframes animar_fondo {
    from {
        -webkit-transform: scale(1) translate(0px);
        transform: scale(1) translate(0px);
    }
    to {
        -webkit-transform: scale(1.5) translate(50px);
        transform: scale(1.5) translate(50px);
    }
}

@-o-keyframes identifier {
    from {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }
}
@-moz-keyframes identifier {
    from {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }
}
@keyframes identifier {
    from {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
        transform: scale(1.5);
    }
}
.cont_form_login {
    position: absolute;
    opacity: 0;
    display: none;
    width: 320px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_forms_active_login {
    z-index: 2;
}

.cont_form_register {
    left: 20px;
    position: absolute;
    float: left;
    opacity: 0;
    display: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.cont_form_register > input {
    text-align: left;
    padding: 15px 10px;
    margin-top: 20px;
    width: 260px;
    border: none;
    color: #757575;
    border-radius: 40px;
}

.cont_form_register > h2 {
    margin-top: 50px;
    font-weight: 400;
    color: #757575;
}

.cont_form_login > input {
    padding: 15px 10px;
    margin-top: 20px;
    width: 260px;
    border: none;
    text-align: left;
    color: #757575;
    border-radius: 40px;
}

.cont_form_login > h2 {
    margin-top: 110px;
    font-weight: 400;
    color: #757575;
}
.cont_form_login > a,
.cont_form_register > a {
    color: #757575;
    position: relative;
    float: left;
    margin: 10px;
    margin-left: 30px;
}

.error {
    padding-top: 1px;
    padding-left: 19px;
    color: red;
    font-size: 12px;
    text-align: left;
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    h2 {
        font-size: 30px;
    }

    .cont_login,
    .cont_register {
        width: 100%;
    }

    .cont_forms,
    .cont_back_info {
        width: 100%;
        box-shadow: none;
    }

    .col_md_login,
    .col_md_register {
        width: 100%;
    }

    .cont_forms_active_login,
    .cont_forms_active_register {
        height: auto;
        top: 0;
    }

    .cont_img_back_,
    .cont_img_back_grey {
        top: 0;
        width: 100%;
        left: 0;
    }

    .cont_info_log_register {
        width: 100%;
    }

    .cont_form_login,
    .cont_form_register {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .cont_form_login > h2,
    .cont_form_register > h2 {
        margin-top: 20px;
    }

    .cont_form_login > p,
    .cont_form_register > p {
        width: 100%;
        margin-top: 10px;
    }

    .cont_form_login > input,
    .cont_form_register > input {
        width: calc(100% - 20px);
        box-sizing: border-box;
        margin-top: 10px;
        padding: 10px;
    }

    .btn_login,
    .btn_register {
        width: calc(100% - 40px);
        margin-top: 20px;
        padding: 10px;
        box-sizing: border-box;
    }

    /* Add any additional styles or overrides for small screens here */
}
